.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 10px;
  background-color: rgba(55, 55, 56, 0.744);
  background-image: url('https://img.freepik.com/free-photo/pizza-pizza-filled-with-tomatoes-salami-olives_140725-1200.jpg?size=626&ext=jpg');
  background-blend-mode: darken;
  opacity: 80%;
  background-repeat: no-repeat, repeat;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px; /* change this to a higher value */
  margin: 0 auto;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 70px;
  margin: 0;
  padding: 0;
}

.site-title {
  margin: 0;
  padding: 0;
  font-size: 50px;
  text-shadow: 2px 2px 2px #ebe8e8;
  text-align: left;
  margin-left: 0px;
  font-family: 'Playfair Display', serif;
  background: linear-gradient(45deg, #fded81, #ece9e9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-links {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 20px; /* decrease this value */
}

.nav-links li {
  margin-right: 20px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.cart-icon {
  font-size: 24px;
  margin-right: 5px;
}

.contact-link {
  margin-left: auto;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.nav-links a:hover {
  color: rgb(141, 209, 238);
  text-shadow: 2px 2px 2px #000;
  font-size: 18px;
}

@media (max-width: 768px) {
  .header {
    padding: 10px;
  }

  .logo {
    height: 50px;
  }

  .site-title {
    font-size: 30px;
    margin-left: 0;
  }

  .nav-links {
    flex-direction: column;
    position: absolute;
    background-color: #1c1c1c;
    width: 100%;
    height: 100vh;
    top: 80px;
    right: -100%;
    transition: all 0.5s ease;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .nav-links li:last-child {
    margin-bottom: 0;
  }

  .nav-links a {
    font-size: 18px;
    padding: 10px;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
  }

  .nav-active {
    right: 0;
  }

  .toggle {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
    z-index: 2;
  }

.toggle i {
      color: #fff;
      font-size: 2rem;
    }
  }
  